html,
body {
    height: 100%;
}

/*
 * Amazon Kindle Fire (First Generation)
 * Apple iPad 1 / 2 / iPad Mini
 */
@media only screen and
    (width:1024px) {
    body {
        font-size: 1em;
    }

    .btn {
        font-size: 1em !important;
    }
}

/* Amazon Kindle Fire HDX 8.9" */
@media only screen and
    (width:2560px) and
    (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 2.75em;
    }

    .btn {
        font-size: 1.75em !important;
    }
}

/* Amazon Kindle Fire HDX 7" */
@media only screen and
    (width:1920px) and
    (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 2em;
    }

    .btn {
        font-size: 1.5em !important;
    }
}

/*
 * Apple iPad 3 / 4
 */
@media only screen and
    (width:1024px) and
    (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 1em;
    }

    .btn {
        font-size: 1.25em !important;
    }
}

/*
 * Apple iPhone 3GS
 * Apple iPhone 4
 * Apple iPhone 5
 */
@media only screen and
    (width:320px) {
    body {
        font-size: 0.75em;
    }

    .btn {
        font-size: 1.25em !important;
    }
}

/* Google Nexus 10 */
@media only screen and
    (width:1280px) and
    (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 1.2em;
    }

    .btn {
        font-size: 1.3em !important;
    }
}

/* Google Nexus 7 */
@media only screen and
    (width:966px) and
    (-webkit-min-device-pixel-ratio: 1.325) {
    body {
        font-size: 1.1em;
    }

    .btn {
        font-size: 1.2em !important;
    }
}

/* Google Nexus 7 2 */
@media only screen and
    (width:960px) and
    (-webkit-min-device-pixel-ratio: 2) {
    body {
        font-size: 1.1em;
    }

    .btn {
        font-size: 1.2em !important;
    }
}

.row-zero-pad {
    margin: 0px;
    padding: 0px;
}

.large-spacer {
    min-height: 5em;
    max-height: 10em;
}
.xlarge-spacer {
    min-height: 10em;
    max-height: 15em;
}

.btn {
    border-radius: 0px;
}

.input-group {
    background-color: white;
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.input-group-addon {
    background-color: white;
    border-radius: 0px;
    border: 0px;
    padding-right: 1em;
    padding-top: 0.85em;
}

.input-group input, textarea {
    background-color: white;
    color: #777777;
    padding: 0.75em;
    border: 0px solid #000000;
}
.input-group input:focus {
    outline: None;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 1em white inset;
    -webkit-text-fill-color: #777777;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1em white inset;
    -webkit-text-fill-color: #777777;
    outline: None;
}

.header {
    height: inherit;
    background: url(../img/index-header.jpg) no-repeat center fixed;
    background-attachment: scroll;
    --webkit-background-size: cover;
    --moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.screen-shot-wide {
    background: url(../img/screens-three.jpg) no-repeat center fixed;
    background-attachment: scroll;
    --webkit-background-size: contain;
    --moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.feature-label {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.25em;
}

.feature-label h3 {
    font-size: 110%;
}

.panel {
    height: inherit;
    --webkit-background-size: cover;
    --moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel-1 {
    background-color: white;
}

.panel-2 {
    background: url(../img/index-footer.jpg) no-repeat center fixed;
    background-attachment: scroll;
}

.header-top {
    min-height: 70%;
}

.header-bottom {
    min-height: 30%;
}

.header-logo {
    width: 25%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
}

.header-logo-text {
    display: block;
    color: white;
    background: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 350%;
    font-weight: 700;
    font-family: 'Droid Sans', sans-serif;
}

.header-logo-button {
    text-align: center;
    display: block;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
}

.header-scroll-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);
    font-size: 200%;
}

.social-icon {
    color: rgba(255, 255, 255, 0.7);
    padding: 10px;
}

.social-icon:hover {
    color: #2a9fd6;
}

.footer-top {
    text-align: center;
    padding-top: 7%;
    height: 15%;
}

.footer-middle {
    height: 70%;
}

.footer-bottom {
    text-align: center;
    padding-bottom: 7%;
    height: 15%;
}

.lg-link {
    font-size: 140%;
    color: white;
}

.lg-link:hover {
    color: #2a9fd6;
}

.footer-panel {
    display: none;
}

.footer-panel:target {
    display: block;
}

.header-panel, .header-panel:target ~ #default {
    display: none;
}

#default, .header-panel:target {
    display: block;
}

.signup-message {
    display: none;
}

a:hover {
    text-decoration: none;
}

.screen-selector.active {
    color: #2a9fd6;
}

.screen-selector {
    color: rgba(100, 100, 100, 0.9);
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.screen-selector:hover {
    text-decoration: none;
}

.screen-view.active {
    display: block;
}

.screen-view {
    display: none;
}

h2.screen-view {
    font-size: 200%;
}
